// .partners-logos {
//     display: flex;
//     width: 100%;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     align-items: center;
//     margin-left: 0px !important;
//     li {
//         img {
//             height: 35px;
//             margin-bottom: 60px;
//         }
//     }
// }


// @media screen and (min-width: 40em){
//     .partners-logos {
//         li {
//             img {
//                 height: 45px;
//             }

//         }
//     }
// }


$animationSpeed: 60s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 10))}
}

.slider {
	// height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: auto;
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 20);
        // width: 100%;
        align-items: center;
        justify-content: space-between;

	}
	.slide {
		// height: 200px;
		// width: 250px;
        padding: 0 2em;
	}
}
