html, body {
    // overflow-x: hiddsen;
    // overflow-y: scroll;
    overflow:auto !important;
}

button:focus {
    outline: none;
  }

  // put all the focus and reset stuff in here

   
button:focus {
    // box-shadow: 0 0 0 2pt lighten( #1264A3, 35);
    outline: none;
}

// Add scollbar on mobile devices in iOS devices
// ::-webkit-scrollbar {
//     -webkit-appearance: none;
// }

// ::-webkit-scrollbar:vertical {
//     width: 12px;
// }

// ::-webkit-scrollbar:horizontal {
//     height: 12px;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: rgba(0, 0, 0, .5);
//     border-radius: 10px;
//     border: 2px solid #ffffff;
// }

// ::-webkit-scrollbar-track {
//     border-radius: 10px;  
//     background-color: #ffffff; 
// }

// Bulma reset
.columns {
    margin-top: 0;
}

// .column {
//     padding: 0 30px;
// }

.hidden {
    display: none;
}

// Custom Cursor

// .custom-cursor {
//     width: 20px;
//     height: 20px;
//     background: #EE6823;
//     border-radius: 50%;
//     position: absolute;
//     transition-duration: 100ms;
//     transition-timing-function: ease-out;
//     pointer-events: none;
//  }


