

<div class="footer-wrapper">

    <div class="padding-x0"></div>
        <div class="columns">
            <div class="column is-6 is-offset-3 is-offset-0-mobile">
                
                <div class="footer-content-wrapper">
                    <h5>Montessori Poker League: Competition format</h5>
                    <p>The league is played online between players accross the season, a total of 6 rounds, each round consists of 2 games. The final round of the season is also know as the 'Main Event' and double points are awarded to the winner of that round.</p>
                    <p>Three hundred points are awarded for first place, 200 for second place and 45 points for entry for each game, with the player with the most points at the end of the season winning the Montessori Poker League.

                    </p>
                    
                    
                    <!-- <p>The Premier League respects and protects the data and privacy of the fans, players, suppliers, contractors and other individuals who we come into contact with in order to carry out our work. Further information on what data we collect, why we collect it and what we do with it can be found in our privacy policies below:</p> -->
                    <h5>Organisation Committee</h5>
                    <p><span class="is-bold">Tournament Directors:</span> Michael Harden, Owen So <span class="is-bold">Match Referee:</span> Rath Prak</p>
                   

                </div>

            </div>
        </div>

        <div class="padding-x2"></div>
</div>