

<div class="footer-wrapper">
    <div class="padding-x0"></div>
    <div class="footer-logo-wrapper">
        <div class="footer-logo">
            <img src="{{root}}assets/img/header-logo.svg" alt="Data Ventures">
        </div>
    </div>
    <div class="footer-disclaimers">
        <p>Montessori Poker League © 2023. All Rights Reserved.</p>
        <p>Terms & Conditions</p>
        <p class="is-bold"><a href="">Contact Rugby World Cup</a></p>
    </div>
    <div class="padding-x0"></div>
</div>

