<header id="header" class="nav-wrapper header">
  
    <section>
      <div class="container">
        <div class="columns">
          <div class="column is-12 main-navigation">
    
            <div class="nav-logo">
              <a href="index.html">
                <img src="{{root}}assets/img/main-logo.svg" alt="Data Ventures">
              </a>
            </div>
    
            <div class="nav-menu-wrapper">
              <a href="#">
                <div class="nav-menu">
                  <p>More MPL </p>
                  <div class="menu-hamburger"><img src="{{root}}assets/img/hamburger.svg" alt=""></div>
                </div>
              </a>
            </div>
    
          </div>
        </div>
      </div>

    </section>
  </header>

